body {
  font-family: "Montserrat", sans-serif;
}

figure {
  margin: 0 auto;
}

.main {
  max-width: 840px;
  margin: 0 auto;
  border-radius: 8px;
}

.main > figure {
  margin-top: 60px;
}

.title {
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  text-align: center;
}
